*{
    box-sizing: border-box;
    font-size: 14px;
}
body{
    margin: 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.header-container{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.global-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    background-image: url(/CODM/Image/global-nav-bg.png);
    background-size:2px;
}
.logo{
    display: flex;
    width: 100px;
    margin-right: 10px;
}
.logo a{
    display: flex;
}
.global-header-left{
    display: flex;
    margin-left: 12px;

}
.global-header-left nav{
    display: flex;
    justify-content: space-between;
}

.dropdown{
    height: 50px;
    display: inline-block;
    width: 100px;
    justify-content: space-between;
    
}
.dropbtn{
  padding: 16px 0px 16px 0px;
  font-size: 14px;
  border: none;
  height: inherit;
  width: 100%;
  background-color: transparent;
  color: rgb(187, 182, 182);
  display: flex;
  justify-content: space-around;
}
.dropbtn img{
    width: 15px;
    transition: .5s;
}
nav a{
    padding: 16px;
  font-size: 14px;
  border: none;
  text-decoration: none;
  color: rgb(172, 169, 169);
}
.dropn-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(46, 46, 46);
}
.dropn-content a{
    display: block;
}
.dropdown:hover .dropn-content{
    display: block;
}
.dropbtn:hover img{
    
    transform: rotate(180deg)
}
.cod-login{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.cod-purchase{
    display: flex;
    align-items: center;
      
    background-color: rgb(42 142 42);
    font-size: 20px;
    padding: 0px 5px;
}
.cod-login a , .cod-purchase a{
    text-decoration: none;
    color: rgb(184, 180, 180);
}
.logged-out span{
    color: rgb(189, 186, 186);
}
.cod-purchase a{
    color: white;
    font-size: 16px;
    text-shadow: 0px 0px 8px black;
}
.banner{
    background-image: url(/CODM/Image/mainbg.png);
    width: 100%;
    height: 650px;
    background-size: cover;
}
.banner-left{
    width: 50%;
    height: inherit;
    display: block;

}
.banner-left-container{
    width: 80%;
    margin-left: 10%;
    padding-top: 25%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}
.banner-img img{
    width: 80%;
}
.banner-left-container h5{
    color: white;
    font-weight: 100;
}
.banner-left-container a{
    text-decoration: none;
    color: rgb(173, 173, 23);
    font-size: 16px;
}
.banner-video{
    height: 259px;
}
.video-thumb{
    width: 60%;
    padding-top: 7%;
}
.red-play-btn{
    position: relative;
    bottom: 130px;
    width: 100px;
    margin-left: 225px;
    transition: .5s;
}
.red-play-btn:hover{
    transform: scale(1.2);
}
.banner2{
    width: 100%;
    height: 650px;
    background-color: black;
    padding-bottom: 80px;
}
.row1{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50%;
    display: flex;

}
.row2{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50%;
    display: flex;

}
.row1-col1{
    width: 76%;
    height: 100%;
    background-image: url(/CODM/Image/CDL_23-05-17_Tracer-Pack_BG-W-King_Desktop.png);
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    justify-content: right;
    transition: .5s;
}
.row1-col1:hover{
    transform: scale(.97);

}
.row1-col1-div{
    width: 50%;
    height: 100%;
    display: block;
    justify-content: left;
}
.row1-col1-div1{
    height: 22%;
    display: flex;
    justify-content: left;
    align-items:  flex-end;
}
.row1-col1-div1 img{
    width: 150px;
    height: 25px;
}
.row1-col1-div2{
    width: fit-content;
    height: 56%;
}
.row1-col1-div2 .h1{
    margin: 0;
    color: #fff;
    font-size: 43px;
    font-weight: 100;
    font-family: 'Big Shoulders Text', cursive;
}
.row1-col1-div2 .h2{
    margin: 0;
    font-size: 50px;
    color: rgb(155, 155, 1);
    font-family: 'Big Shoulders Text', cursive;
    
}
.row1-col1-div3{
    width: 100%;
    height: 22%;
    display: flex;
    font-family: 'Big Shoulders Text', cursive;
}
.row1-col1-div3 h1{
    font-size: 32px;
    color: #fff;
    font-weight: bolder;   
    margin: 0;
}
.row1-col1-div3 img{
    width: 10px;
    height: 20px;
    margin-left: 6px;
    
}
.row1-col1-div3 div{
    width: max-content;
    height: max-content;
    margin-top: 6px;
    margin-left: 4px;    
}
.row1-col2{
    width: 38%;
    height: 100%;
}

.row1-col2-div1{
    width: 100%;
    height: 80%;
    transition: .5s;
    background-image: url(/CODM/Image/BlackCell_Tout_640x330.jpg);
}
.row1-col2-div1:hover{
    transform: scale(.97);
}
.div{
    display: flex;
    width: 100%;
    height: 20%;
}
.row1-col2-div2{
    width: 30%;
    height: 89%;
    margin-top: 1%;
    margin-left: 5px;
    background-color: black;
    background-image: url(/CODM/Image/mw2-gray-II-logo.png);
    background-size: cover;
}
.row1-col2-div3{
    width: 70%;
    height: 20%;
    color: #fff;
    padding-left: 10px;
}
.row1-col2-div3 p{
    font-size: 15px;
}
.row2-col1{
    width: 33.3%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.row2-col2{
    width: 33.3%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.row2-col3{
    width: 33.3%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.row2-col1-div1{
    width: 100%;
    height: 80%;
    background-image: url(/CODM/Image/9-15-hub-wzm-tout.jpg);
    background-size: contain;
    transition: .5s;
}
.row2-col1-div1:hover{
    transform: scale(.97);
}
.row2-col1-div2{
    width: 32%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url(/CODM/Image/wzm-logo.png);
    background-size: contain;
}
.row2-col1-div3{
    color: #fff;
    height: 20%;
    width: 74%;
    padding-top: 7px;
    padding-left: 10px;
    background-color: rgb(0, 0, 0);
}
.row2-col1-div3 p{
    margin: 0;
    font-size: 15px;
}
.row2-col2-div1{
    height: 80%;
    background-image: url(/CODM/Image/4-11-cod-hub_wz-tac-sm-tout.jpg);
    background-size: cover;
    transition: .5s;
}
.row2-col2-div1:hover{
    transform: scale(.97);
}
.row2-col2-div2{
    width: 27%;
    height: 100%;
    background-size: cover;
    background-image: url(/CODM/Image/WZ2.0-logo.png);
}
.row2-col2-div3{
    color: #fff;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
}
.row2-col3-div1{
    background-image: url(/CODM/Image/4-21-hub-cdl-codm_s2-sm-tout.jpg);
    height: 80%;
    transition: .5s;
}
.row2-col3-div1:hover{
    transform: scale(.97);
}
.row2-col3-div2{
    width: 30%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/CODM/Image/codm-white.png);
}
.row2-col3-div3{
    color: #fff;
    padding-left: 10px;
}
.news-header{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.news-head-col1{
    width: 65%;
    background-color: rgb(0, 0, 0);
    padding-left: 50px;
    color: rgb(255, 255, 255);
}
.news-head-col1 p{
    font-size: 16px;
    margin-top 10px;
}
.news-head-col2{
    width: 35%;
    font-size:12px ;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.nh1 p{
    font-size: 16px;
    margin-top: 10px;
}
.nh2 p{
    font-size: 16px;
    margin-top: 10px;
}
.nh2{
    padding-left: 5px;
}
.nh3{
    width: 50px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    background-image: url(/CODM/Image/mw2-icon-dual-light.svg);
    background-repeat: no-repeat;
}
.nh4{
    width: 50px;
    height: 20px;
    background-image: url(/CODM/Image/wz2-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7px;
    margin-left: 5px;
}
.nh5{
    width: 50px;
    height: 20px;
    background-image: url(/CODM/Image/Call-of-Duty_WZM_White_Transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7px;
    margin-left: 1px;
}
.nh6{
    width: 20px;
    height: 20px;
    background-image: url(/CODM/Image/cod-m-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7px;
}
.nh7{
    width: 20px;
    height: 20px;
    background-image: url(/CODM/Image/vg-icon-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7px;
    margin-left: 5px;
}
.nh8{
    width: 50px;
    height: 20px;
    background-image: url(/CODM/Image/cdl-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7px;
    margin-left: 5px;
}
.nh9{
    margin-top: 7px;
    margin-left: 5px;
    width: 110px;
}
.news{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}
.news-col1{
    width: 20%;
    display: block;
    background-color: rgb(0, 0, 0);
}
.news-col2{
    width: 20%;
    background-color: rgb(0, 0, 0);
}
.news-col3{
    width: 20%;
    background-color: rgb(0, 0, 0);
}
.news-col4{
    width: 20%;
    background-color: rgb(0, 0, 0);
}
.news-col5{
    width: 20%;
    background-color: rgb(0, 0, 0);
}
.news-col1-div1{
    width: 85%;
    position: relative;
    top: 10%;
    left: 10%;
    height: 50%;
    background-size: cover;
    background-image: url(/CODM/Image/cq5dam.thumbnail.319.319.png);
}
.news-col1-div2{
    width: 85%;
    height: 30%;
    color: #fff     ;
    position: relative;
    top: 10%;
    left: 10%;
}
.news-col2-div1{
    width: 85%;
    position: relative;
    top: 10%;
    left: 10%;
    height: 50%;
    background-size: cover;
    background-image: url(/CODM/Image/cq5dam.thumbnail.319.319\ \(1\).png);
}
.news-col2-div2{
    width: 85%;
    height: 30%;
    color: #fff     ;
    position: relative;
    top: 10%;
    left: 10%;
}
.news-col3-div1{
    width: 85%;
    position: relative;
    top: 10%;
    left: 10%;
    height: 50%;
    background-size: cover;
    background-image: url(/CODM/Image/cq5dam.thumbnail.319.319\ \(2\).png);
}
.news-col3-div2{
    width: 85%;
    height: 30%;
    color: #fff     ;
    position: relative;
    top: 10%;
    left: 10%;
}
.news-col4-div1{
    width: 85%;
    position: relative;
    top: 10%;
    left: 10%;
    height: 50%;
    background-size: cover;
    background-image: url(/CODM/Image/cq5dam.thumbnail.319.319\ \(3\).png);
}
.news-col4-div2{
    width: 85%;
    height: 30%;
    color: #fff     ;
    position: relative;
    top: 10%;
    left: 10%;
}
.news-col5-div1{
    width: 85%;
    position: relative;
    top: 10%;
    left: 10%;
    height: 50%;
    background-size: cover;
    background-image: url(/CODM/Image/cq5dam.thumbnail.319.319\ \(4\).png);
}
.news-col5-div2{
    width: 85%;
    height: 30%;
    color: #fff     ;
    position: relative;
    top: 10%;
    left: 10%;
}
.get-the-game{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid gray;
}
.get-the-game p{
    color: gray;
    font-size: 20px;
}
.discount{
    width: 100%;
    height: 30px;
    background-color: rgb(0, 0, 0);
}
.discount p{
    position: absolute;
    left: 50.5%;
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    margin-top: 12px;
}
.last-section{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.last-div{
    width: 18%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
}
.img1{
    width: 100%;
    height: 80%;
    background-image: url(/CODM/Image/game-select-mw2-desktop.jpg);
    background-size: cover;
}
.img2{
    width: 100%;
    height: 80%;
    background-image: url(/CODM/Image/WZ2.0_S3_entry.jpg);
    background-size: cover;
}
.img3{
    width: 100%;
    height: 80%;
    background-image: url(/CODM/Image/game-select-vg-desktop.jpg);
    background-size: cover;
}
.img4{
    width: 100%;
    height: 80%;
    background-image: url(/CODM/Image/game-select-CODM-desktop.jpg);
    background-size: cover;
}
.TC{
    width: 70%;
    margin-left: 15%;
    padding-bottom: 2%;
    border-bottom: 1px solid gray;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 10px;
}
.TC a{
    text-decoration: none;
    color: gray;
}
.footer-img{
    width: 70%;
    height: 600px;
    background-color: rgb(0, 0, 0);
    margin-left: 15%;
}
.left-img{
    width: 55%;
    height: 350px;
    background-color: rgb(0, 0, 0);
    float: left;
    column-gap: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-top: 3%;
}
.right-img{
    width: 45%;
    height: 350px;
    background-color: rgb(0, 0, 0);
    float: left;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    padding-top: 5%;
}
.text{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: gray;
}
.text p{
    font-size: 12px;
    text-align: center;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
}
.cookie{
    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.icon{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.icon div{
    width: 30px;
    height: 100%;
}
.images{
    width: 30%;
    height: 70px;
    background-color: rgb(0, 0, 0);
}
.images img{
    width: 80%;
    height: 50%;
}

.images1{
    width: 20%;
    height: 35%;
    margin-top: 20px;
}
.images2{
    width: 65%;
    height: 50%;
}
img{
    width: 100%;
    height: 100%;
}